.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.playlists {
    display: flex;
    flex-direction: row;
    height: 550px;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    margin: 0% 1% 0.5% 1%;
    border-color: rgb(214, 214, 214);
    border-style: solid;
    border-width: 10px;
    color: white;
}

.add_playlist {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    text-align: center;
    color: white;
    padding: 2%;
    margin: 1%;
    width: 500px;
    border-radius: 20px;
    max-height: 50%;
}

.add_item {
    margin: 1%;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.inputPlaylistName {
    width: 85%;
    height: 20px;
    border-radius: 10px;
}

.container_playlist_list {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    font-size: 15px;
    padding: 2%;
    margin: 1%;
    width: 500px;
    border-radius: 20px;
    max-height: 65%;
}

.container_playlist_list h2 {
    text-align: center;
    margin: 2px;
}

.playlist_list {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 1%;
    margin: 1%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 280px;
    border-radius: 10px;
}

.playlist_list::-webkit-scrollbar {
    width: 10px;
}

.playlist_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #BB00CF;
}

.playlist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #262626;
    font-size: 15px;
    padding: 1%;
    margin: 1%;
    max-height: 90%;
    width: 80%;
    border-radius: 20px;
}

.music_list::-webkit-scrollbar {
    width: 10px;
}

.music_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #BB00CF;
}

.music_list {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1%;
    color: white;
    border-radius: 10px;
    height: 80%;
}

.on_one_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1px;
}

.remove_item {
    margin: 1%;
}

.inputLink {
    width: 100%;
    height: 20px;
    border-radius: 10px;
}

.option_link {
    width: 50px;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.play_playlist {
    text-decoration: none;
    color: white;
}

.playlist .play_playlist {
    font-size: 30px;
}

.info_playlists {
    padding: 1%;
}